.movie-card img{
    transition: transform 0.3s ease-in-out;
}
.movie-card img:hover{
    transform: scale(1.08);
}
.banner-content{
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s forwards;
}
.banner-content h1{
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeInDown 1s forwards;
    animation-delay: 0.2s;
}
.banner-content p{
    opacity:0;
    transform: translateY(-20px);
    animation:fadeInDown 1s forwards;
    animation-delay: 0.6s;
}
.banner-content button{
    opacity: 0;
    transform: translateY(-10px);
    animation: fadeInDown 1s forwards;
    animation-delay: 1s;
}
@keyframes fadeInUp{
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes fadeInDown{
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
.banner-background{
    animation: zoomIn 12s ease-in-out infinite alternate
}
@keyframes zoomIn{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.05);
    }
}
.banner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(0,0,0,0.8));
    z-index: 1;
}

.banner-content {
    position: relative;
    z-index: 2;
}
